<h2><i class="fa fa-print"></i> <%= @edi_printer.name %></h2>
<hr/>

<div class="bs-callout bs-callout-info">
  Printer URL's examples:<br><br>
  <i>
    ipp://hostname:631/printers/my_printer<br>
    lpd://hostname:515/LPT1<br>
    socket://hostname:9100<br>
  </i>
</div>

<%= simple_form_for [:admin, @edi_printer] do |f| %>
  
  <%= render 'admin/shared/error_messages', object: f.object %>
  <%= f.input :name %>
  <%= f.input :url %>
  <%= f.input :location %>
  <%= f.input :print_count %>
  <%= f.button :submit %>

<% end %>






<% content_for :title do %>
	Printers: <%= @edi_printer.name %>
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">EDI Settings</a></li>
	<li><%= link_to "Printers", admin_edi_printers_path %></li>
	<li class="active"><%= @edi_printer.name %></li>
<% end %>