<tr>
	<td><i class="fa fa-<%= edi_task.task_type %>"></i></td>
	<td><%= edi_task.edi_ftp_server.name %></td>
	<td><%= edi_task.affiliate.name %></td>
  <td><%= edi_task.document_type.titlecase %></td>
  <td><%= edi_task.notify_email.presence || "-" %></td>
  <td><%= edi_task.edi_printer.presence || "-" %></td>
  <td><%= tick edi_task.active %></td>
  <td><%= systime edi_task.last_executed %></td>
  <td class="<%= 'text-danger' if edi_task.last_status != 'ok' %>"><%= truncate edi_task.last_status, length: 40 %></td>
	<td class="actions">
		<%= link_to "edit", edit_admin_edi_task_path(edi_task) %> &nbsp; 
		<%= link_to "delete", 
					  { action: "destroy", id: edi_task.id }, 
					  method: :delete, 
					  data: { confirm: "Are you sure?" } %>
	</td>
</tr>