<h2><i class="fa fa-clock-o"></i> <%= @edi_task.id %></h2>
<hr/>

<%= simple_form_for [:admin, @edi_task] do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>
  <%= f.input :task_type, collection: [['Download', :download], ['Upload', :upload]] %>
  <%= f.association :edi_ftp_server %>
  <%= f.association :affiliate %>
  <%= f.input :document_type, collection: [:orders, :packing_slips, :confirms, :inventory].map { |x| [x.to_s.titlecase, x] } %>
  <%= f.input :source_directory %>
  <%= f.input :source_filemask %>
  <%= f.input :destination_directory %>
  <%= f.input :notify_email %>
  <%= f.association :printer %>
  <%= f.input :active %>
  <%= button_tag "Save changes", :class => "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..."} %>

<% end %>




<% content_for :title do %>
  EDI Schedule: <%= @edi_task.id %>
<% end %>



<% content_for :breadcrumbs do %>
  <li><a href="#">EDI Settings</a></li>
  <li><%= link_to "Tasks", admin_edi_tasks_path %></li>
  <li class="active"><%= @edi_task.id %></li>
<% end %>